
.btn {
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  font-size: 1em;  
  border-radius: 5px;
  transition: background-color,color 0.4s;
  border: 1px solid var(--accent-color);  
  background-color: white;
  color: var(--accent-color);
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.btn:hover {
  background-color: var(--accent-color);
  color: white;
}

.btn-solid {
  border: none;
  color: white;
  background-color: var(--accent-color);
  box-shadow: 0 1px 3px 1px var(--sub-accent-color);
}


.btn-solid:hover {
  background-color: var(--accent-color-hover);
}

.btn-icon {
  margin-right: 5px;
  font-size: 0.9em!important;
}

.btn-arrow {
  margin-left: 5px;
  font-size: 0.7em!important;
}

.btn-block {
  width: 100%;
  display: block;
}