.card-ctn {
  width: 400px;
}

.card {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px 1px lightgray;
  border-radius: 5px;
  top: 0;
  transition: top 0.6s;
  position: relative;
  background-color: white;
  overflow: hidden;
}
.card-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 20px 25px;
}
.card:hover {
  top: -20px;
}

.card-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.1em;
}

.card-readmore {
  color: var(--accent-color);
  text-decoration: none;
  margin: 10px 0;
  display: block;
  color: var(--main-text);
  transition: hover 0.3s;
}

.card.work-progress .card-readmore {
  color: var(--accent-color);
}
.card.work-progress .card-readmore:hover {
  color: var(--accent-color-hover);
}
.card-readmore-arrow {
  font-size: 0.8em;
  margin-left: 0.5em;
}

.card-progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: lightgray;
  font-size: 2em;
}

/* Another card */

.card.lastest-new .card-readmore:hover {
  color: var(--accent-color);
}

.card-thumbnail-ctn {
  padding-bottom: 62.5%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.card-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
  background-color: rgba(88, 101, 158, 0.658);
  box-sizing: border-box  ;
  padding: 15px;
  color: white;
  font-size: 0.9em;
  font-weight: 400;
  transition: opacity 0.5s;
  opacity: 0;
}
.card.lastest-new:hover .card-overlay {
  opacity: 1;
}
.card-article-icon {
  margin-right: 0.5em;
}
.card-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-social {
  font-size: 0.9em;
}

.card-social-icon {
  font-size: 0.8em;
  margin-right: 0.3em;
}
