.carousel-ctn {
  background: no-repeat center/cover url("https://via.placeholder.com/3000x1080") rgba(88, 101, 158, 0.658);
  background-blend-mode: overlay;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  margin: 50px 0  ;
}
.carousel {

  box-sizing: border-box;
  padding: 100px 0;
  z-index: 1;
  color: white;
  font-weight: bolder ;
  width: 720px;
  margin: 0 auto;
}

.carousel-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px
}
.carousel-comment {
  text-align: center;
  font-style: italic;
  font-weight: 600;
}
.carousel-comment::before,.carousel-comment::after  {
  content: '"';
}
.carousel-stars {
  width: fit-content;
}
.carousel-star {
  color: orange;
}

.carousel-profile-image {
  border-radius: 100%;
}
.carousel-paging {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.carousel-paging-item {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--accent-color);
  border-radius: 100%;
}

.carousel-paging-item.active {
  background-color: var(--accent-color-hover);
}