.form-group {
  margin-bottom: 20px;
}

.input-group {
  position: relative;
}

.form-label {
  font-size: 0.9em;
  font-weight: 600;
  margin: 10px 0;
  display: block;
}

.form-required::after {
  content: "*";
  color: coral;
  margin-left: 0.5em;
}

.input-text {
  font-family: 'Nunito', sans-serif;
  display: block;
  font-size: 0.9em;
  border: 1px solid lightgray;
  box-sizing: border-box;
  padding: 10px 15px 10px 40px;
  transition: border 0.3s;
  width: 100%;
  height: 40px;
  border-radius: 3px;
}
.input-text::placeholder {
  color: var(--main-text);
}
.input-text:focus {
  border: 1px solid var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  left: 15px;
  font-size: 0.9em;
}

textarea.input-text {
  height: 150px;
}