@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root {
  --header-text: #161c2d;
  --main-text: #8492a6;
  --accent-color: royalblue;
  --accent-color-hover: rgb(52, 91, 206);
  --sub-accent-color: rgb(167, 189, 255);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

.text-accent {
  color: var(--accent-color);
}

.text-white {
  color: white;
}

.text-main {
  color: var(--main-text);
  font-style: normal;
  font-weight: 400;
}

.text-emphasize {
  font-weight: 700;
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-heading {
  color: var(--header-text);
}
.main-section {
  box-sizing: border-box;
  padding: 20px 0;
}
.section-heading {
  font-size: 1.8em;
  font-weight: bolder;
  margin: 20px 0;
}

.section-description {
  margin: 10px 0;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.header-ctn {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.082);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: fit-content;
}

.header-logo-img {
  display: block;
  padding: 5px 0;
}

#top-nav {
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(70, 70, 70);
  font-size: 0.9em;
  transition: color 0.5s;
}

.nav-icon {
  margin-left: 10px;
  transition: transform 0.5s;
}

.nav-item:hover .nav-link {
  color: var(--accent-color);
}

.nav-item:hover .nav-icon {
  transform: rotate(180deg);
}

.intro-section {
  background: no-repeat center/cover url('../images/background.png') rgba(255, 255, 255, 0.795);
  background-blend-mode: overlay;
  margin-bottom: 50px;
}
.intro-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}
.intro-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.intro-self {
  font-size: 4em;
  line-height: 1em;
  font-weight: 900;
}

.intro-description {
  font-size: 1.2em;
}

.intro-button {
  display: flex;
  gap: 1rem;
}

.about-me {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center ;
}
.about-progress {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
}

.section-description {
  margin: 20px 0;
}
.sub-section {
  margin: 40px 0 20px;
}
.work-portfolio .sub-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 20px;
  
}

.work-process > .sub-section,
.lastest-new > .sub-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px
}

.contact-me .sub-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.contact-form, .contact-map {
  border-radius: 5px;
  overflow: hidden;
}

.contact-form {
  border: 1px solid lightgray;
  box-sizing: border-box;
  padding: 40px 30px 30px 
}


footer {
  background-color: #202942;
  box-sizing: border-box;
  padding: 50px 0;
  margin-top: 50px;
}

.footer-description {
  color: white;
}

#lazy-load {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lazy-icon  {
  font-size: 3em;
  color: var(--accent-color);
  animation: rotating 2s infinite;
  display: block;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lazy-fade {
  animation: fade 0.5s;
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}