.portfolio-ctn {
  width: 300px;
  height: 250px;
}

.portfolio {
  width: 100%;
  padding-bottom: 75%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  background-color: rgba(88, 101, 158, 0.658);
  top: 0;
  z-index: 0;
  left: 0;
}

.portfolio:hover .portfolio-overlay{
  opacity: 1;
}

.portfolio:hover .portfolio-background {
  transform: rotate(5deg) scale(1.1);
}

.portfolio:hover .portfolio-description {
  opacity: 1;
}
.portfolio-image-overlay {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 16px;
  color: var(--accent-color);
  box-sizing: border-box;
  padding: 15px;
  border-radius: 100px;
  background-color: white;  
}
.portfolio-description {
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.portfolio-background {
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: transform 0.5s;
}


.portfolio-title {
  color: aliceblue;
  font-weight: 600;
}

.portfolio-cate {
  color: aliceblue;
  font-size: 0.9em;
  
}