.progress {
  position: relative;
}
.progress-title {
  color: var(--main-text);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-bottom: 5px;
}
.progress-percent {
  position: absolute;
  left: 84%;
  transform: translateX(-50%);
}
.progress-percent::after {
  content: "%";
}
.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #cfcfcf;
  border-radius: 100px;
  overflow: hidden;
}
.progress-curr {
  width: 84%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 100px;
}